.grid-container {
    max-width: 800px;

}

.grid-row {
    display: flex;
}

.grid-cell {
    width: 200px;
    height: 200px;
    flex: 1;
    text-align: center;
}

/* 반응형 스타일 */
@media only screen and (max-width: 800px) {
    .grid-container {
        max-width: 100%;

    }


    .grid-cell {
        width: 25%;
        height: 25%;
        flex: 1;
        text-align: center;
    }
}